@model  List<ReMaster.BusinessLogic.Company.Dto.CompanyListDto>
@{
    ViewData["Title"] = "Admin - Company";
}

<table>
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>City</th>
        <th>IsDeleted</th>
    </tr>

    @foreach (var company in Model)
    {
        <tr>
            <td>@company.Name</td>
            <td>@company.OwnerFullName</td>
            <td>@company.City</td>
            <td>@company.IsDeleted</td>
        </tr>
    }
</table>
